<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title> Edit user </title>
</head>
<body>
<h1> Edit user: </h1>
<h1 th:text="${Message}"></h1>

<form th:action="@{/editUser}" method="post">
    <input type="text" name="newUsername" th:value="${user.username}"/>
    <div th:each="role : ${roles}">
        <input th:id="${role}" type="checkbox" th:name="roles[]" th:value="${role}"
               th:checked="${#lists.contains(user.roles, role)}"/>
        <label th:text="${role}"/></label>
    </div>
    <input type="hidden" th:value="${user.username}" name="username"/>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <button type="submit">Save</button>
</form>
</body>
</html>